<p>Verify your Easy account by clicking the link below.</p>

<a href="<%= @link %>"><%= @link %></a>

<p>Verifying your email puts a blue checkmark next to your email when you chat with people.</p>

<p>Easy</p>
