<p><%= @from %> has invited you to a secure chat session using Easy.</p>

<strong>Chat secret hint:</strong> <%= @hint %>

<p>Easy is secure, encrypted chat from your terminal</p>

<p>Download Easy from your terminal to join:</p>
<pre>npm install easy</pre>

Or from the <a href="https://easy.gd">Easy website</a>.
